# 数据分析

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_dir = '/media/data1/'
train_data_path = os.path.join(data_dir, 'SLTA_Projects/dataset/classification/classification_train.csv')
eval_data_path = os.path.join(data_dir,  'SLTA_Projects/dataset/classification/classification_val.csv')
test_data_path = os.path.join(data_dir, 'SLTA_Projects/dataset/classification/classification_test.csv')
output_csv_path = os.path.join(data_dir, 'svm_classification_test.csv')

In [3]:
train_data_df = pd.read_csv(train_data_path)
eval_data_df = pd.read_csv(eval_data_path)
test_data_df = pd.read_csv(test_data_path)

In [4]:
train_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x_1     10000 non-null  float64
 1   x_2     10000 non-null  float64
 2   y       10000 non-null  int64
dtypes: float64(2), int64(1)
memory usage: 234.5 KB

In [5]:
train_data_df.shape, eval_data_df.shape, test_data_df.shape

((10000, 3), (1000, 3), (1000, 3))

In [6]:
train_data_df

           x_1       x_2  y
0    -1.273580  0.642793  1
1    -0.099602  0.840770  1
2    -1.010065 -1.857753  0
3     0.895425 -0.831040  0
4     1.043244 -1.045208  0
...        ...       ... ..
9995  1.084168 -0.526188  0
9996  2.173161  1.442142  1
9997  2.412835  1.240928  1
9998  2.211240  1.134605  1
9999  0.835758 -1.479637  0

[10000 rows x 3 columns]

In [7]:
train_data_df.iloc[:, :-1]

           x_1       x_2
0    -1.273580  0.642793
1    -0.099602  0.840770
2    -1.010065 -1.857753
3     0.895425 -0.831040
4     1.043244 -1.045208
...        ...       ...
9995  1.084168 -0.526188
9996  2.173161  1.442142
9997  2.412835  1.240928
9998  2.211240  1.134605
9999  0.835758 -1.479637

[10000 rows x 2 columns]

# 分类数据：训练集、验证集、测试集划分

In [8]:
# 训练、验证、测试数据集
X_train, y_train = train_data_df.iloc[:, :-1], train_data_df.iloc[:, 2]
X_eval, y_eval = eval_data_df.iloc[:, :-1], eval_data_df.iloc[:, 2]
X_test = test_data_df.iloc[:, : - 1]

# SVM模型 训练、验证、预测

In [13]:
import numpy as np
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_eval = scaler.transform(X_eval)
# SVM model 
C = 2.0 
kernel = 'rbf' 
svm_model = SVC(C=C, kernel=kernel)
# Train 
svm_model.fit(X_train, y_train)
# 在验证集上预测
eval_pred = svm_model.predict(X_eval)
# 在验证集上计算准确率
accuracy = accuracy_score(y_eval, eval_pred)
print(f"Acc: {accuracy:.2f}")
report = classification_report(y_eval, eval_pred)
print("Classification Report:")
print(report)

Acc: 0.95
Classification Report:
              precision    recall  f1-score   support

           0       0.97      0.94      0.95       485
           1       0.94      0.97      0.96       515

    accuracy                           0.95      1000
   macro avg       0.95      0.95      0.95      1000
weighted avg       0.95      0.95      0.95      1000

In [14]:
test_pred = svm_model.predict(X_test)
test_pred = pd.DataFrame(test_pred)
test_pred.head()

/media/data1/hy/miniconda3/envs/orange/lib/python3.9/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

   0
0  1
1  1
2  0
3  0
4  0

In [15]:
test_data_df['y'] = test_pred

In [16]:
test_data_df

          x_1       x_2  y
0    0.646227  0.801867  1
1   -0.070090  1.745161  1
2   -0.797350 -0.790427  0
3    0.579818 -2.036111  0
4   -1.253754 -0.351167  0
..        ...       ... ..
995  0.367477  1.358640  1
996 -0.897765  1.061748  1
997  1.193268 -0.668240  0
998  0.793151  0.943389  1
999  0.608745  1.392232  1

[1000 rows x 3 columns]

# 输出结果文件

In [17]:
test_data_df.to_csv(output_csv_path, index=None)